<script>
  import { Link } from "svelte-routing";

  import Box from "../components/Box.svelte";
  import CardStack from "../components/cardStack.svelte";
  import Dropdown from "../components/Dropdown.svelte";
  import Menu from "../components/Menu.svelte";
  import SubMenu from "../components/SubMenu.svelte";
  import MenuItem from "../components/MenuItem.svelte";

	let projects = [
		{ name: "Brurberg", website: "brurberg.no", priv: true, activ: true },
		{ name: "Brurberg Auth", website: "auth.brurberg.no", priv: true, activ: true },
		{ name: "Brurberg Log", website: "log.brurberg.no", priv: true, activ: true },
		{ name: "Brurberg Uptime", website: "uptime.brurberg.no", priv: true, activ: true },
		{ name: "Brurberg Statistics", website: "stats.brurberg.no", priv: true, activ: false },
		{ name: "Estimako", website: "estimako.com", priv: false, activ: true },
		{ name: "Visdomsdialog", website: "visdomsdialog.one", priv: false, activ: true },
		{ name: "Backup", website: "backup.brurberg.no", priv: true, activ: false },
		{ name: "Storage", website: "storage.brurberg.no", priv: true, activ: false },
		{ name: "Seed Hunt", website: "seedhunt.net", priv: false, activ: true }
	];
</script>

  <div class="content flex">
    <div class="item">
	 	   <h2>Welcome to Brurberg.no</h2>
	 	   <p>This page is a overview page ment to infrom about brurberg projects.</p>
    </div>
    <div class="new_line"/>
    <div class="item">
      <Box>
        <h3>Overview of this page</h3>
        <pre>This page is currently work in progress. But it is going to contain information about me and the projects i am working on.
In the future it should even work as a portal to order and manage work.

More information about each project should be provided at their respective sites. Exceprions of this will be internal services. Logging and statistics are examples of this. This might change in the funture.</pre>
      </Box>
    </div>
    <div class="item">
        <h1 style="margin-bottom: 0;">Projects</h1>
  <table class="elevate">
    <thead>
      <tr>
        <th style="width: 35%;"><span>Name</span></th>
        <th style="width: 35%;"><span>Website</span></th>
        <th style="width: 15%;"><span>Priv</span></th>
        <th style="width: 15%;"><span>Activ</span></th>
      </tr>
    </thead>
    <tbody>
      {#each projects as project}
      <tr>
        <td>{project.name}</td>
        <td><a href="https://{project.website}">{project.website}</a></td>
        <td>{project.priv ? "YES" : "NO"}</td>
        <td>{project.activ ? "YES" : "NO"}</td>
      </tr>
      {/each}
    </tbody>
  </table>
    </div>
    <hr>
    <h2>Personal information</h2>
    <div class="new_line"/>
    <img class="min_item" src="https://lh3.googleusercontent.com/pw/ACtC-3dUUiydFNwG6MFu09M78gw11ZlYDnqmismMKHy8011irkBL1n9A21iylTlsWIVPtPNPoycU7peyDhfwInLtsIlN1lEAQZpyE98J0mpghgC0Sv2mQkWUIvYFyPdWlnQT2XpW8l6vA-NXpu8nmbyYNpo-Eg=w876-h1314-no?authuser=0" alt="profile pic" height="350px" width="234px">
    <div class="item center">
        <table class="elevate">
          <thead>
            <tr>
              <th style="width: 30%;"></th>
              <th style="width: 70%;"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><h3>Name:</h3></td>
              <td>Sindre Brurberg</td>
            </tr>
            <tr>
              <td><h3>Born in:</h3></td>
              <td>1997</td>
            </tr>
            <tr>
              <td><h3>Profession:</h3></td>
              <td>Developer, backend</td>
            </tr>
            <tr>
              <td><h3>Education:</h3></td>
              <td>Bachelor's degree in Computer Science</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="new_line" style="padding-top: 1.5em;"/>
  </div>

<style>
  h3 {
    text-align: left;
  }
  hr {
    width: 100%;
    max-width: 100%;
    height: 0;
    max-height: 0;
    border: solid;
  	display: block;
		margin-top: .5em;
		margin-bottom: .5em;
		margin-left: auto;
		margin-right: auto;
		border-style: inset;
		border-width: 1px;
		color: rgba(0,0,0,.12);
	}
  .content {
		position: relative;
		max-width: 1270px;
		margin-left: auto;
		margin-right: auto;
    padding-top: 1em;
    background: #fff;
  }
  .flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
  }

  .item {
    flex: 0 0 45%;
  }
  .min_item {
    flex: 0 0 20%;
  }
  .new_line {
    flex: 0 0 100%;
  }
  .item_org {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .center {
    align-self: center;
  }

table {
  width: 100%;
  border-spacing: 0;
  text-align: left;
}
thead tr:last-child th {
  font-size: x-large;
  padding-top: 1em;
  padding-bottom: .5em;
}
thead tr:last-child th, tbody tr:not(:last-child) td {
	border-bottom: thin solid rgba(0,0,0,.12);
}

img {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
  border-radius: 50%;
}

</style>
