<script>
  import { onMount } from 'svelte';

  onMount(() => {
    console.log(document.body)
  })
  let url = "";
  import Topbar from './components/Topbar.svelte';
  import { Router, Link, Route } from "svelte-routing";

  import Home from "./routes/Home.svelte";
  import Cards from "./routes/Cards.svelte";
  import Blog from "./routes/Blog.svelte";
</script>

<main>
  <Router url="{url}">
    <Topbar>
      <Link to="/"><h1>Brurberg</h1></Link>
    </Topbar>
    <Route path="blog/:id" component="{Blog}" />
    <Route path="blog" component="{Blog}" />
    <Route path="cards" component="{Cards}" />
    <Route path="/"><Home /></Route>
  </Router>
</main>

<style>
:root {
  /* https://www.canva.com/colors/color-wheel/ */
  --orange: #FCA611;
  --green: #11FC31;
  --blue: #1167FC;
  --purple: #FC11DD;
  --primary: var(--orange);
  --secoundary: var(--blue);
  --monochromatic: #D78903;
  --triadicOne: #11FCA6;
  --triadicTwo: #A611FC;
  --analogOne: #DDFC11;
  --analogTwo: #FC3111;
  --gray: #E6E6E6;
  --background: var(--gray);
}
	main {
		text-align: center;
		padding: 0;
		margin: 0 auto;
    min-height: 100%;
    /* background-image: linear-gradient(var(--gray),#fff); */
	}
	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}

	h1 {
		color: #fca611;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 350;
    margin: 1rem 0;
	}
</style>
